* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("patrick-ryan-_wEmwJrxjQw-unsplash.jpg");
  background-size: cover;
}

.form {
  background-image: url(annie-spratt-LLWy5AlSlCo-unsplash.jpg);
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 4%;
  margin-left: 33%;
  width: 590px;
  height: 700px;
  border: 1px solid lightblue;
  padding: 20px;
  border-radius: 6px;
}

.input {
  background-color: rgb(243, 238, 238);
  width: 80%;
  height: 38px;
  margin: 5px;
  border: 1px solid lightblue;
  border-radius: 4px;
}

.gender {
  margin: 7px;
}

#select {
  margin-top: 1px;
  margin-bottom: 8px;
  width: 70%;
  height: 24px;
  outline: none;
}

textarea {
  background: rgb(243, 238, 238);
  border-radius: 4px;
}

.inputButton {
  width: 39%;
  height: 35px;
  margin-top: 13px;
  border-radius: 4px;
  background-color: rgb(29, 216, 144);
  outline: none;
  border: 2px solid lightblue;
}

.inputButton:hover {
  background-color: rgb(63, 121, 230);
  color: white;
}

#error {
  color: red;
  font-weight: bolder;
}

.message {
  margin-top: 5px;
  margin-bottom: 5px;
}
